.layout-data-view {
  height: 100%;
  box-sizing: border-box;
  padding: 0 23px;
  font-family: "PingFang-SC-Regular";
  .layout-data-title {
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    text-align: left;
    color: #293270;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dimension-item {
    width: 100%;
    height: 21px;
    background: #f3f5ff;
    border: 1px dashed #7c87ff;
    border-radius: 11px;
    font-family: "PingFang-SC-Regular";
    color: #293270;
    font-size: 12px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;

    .dimension-img {
      width: 22px;
      height: 11px;
      margin: 0 6px 0 13px;
    }
    .dimension-icon {
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .dimension-item + .dimension-item {
    margin-top: 8px;
  }
  .dimension-drag-view {
    width: 100%;
    min-height: 21px;
    background: #f3f5ff;
    border: 1px dashed #7c87ff;
    border-radius: 11px;
    position: relative;
  }

  .dimension-drag-view::after {
    content: "请拖入维度";
    font-size: 12px;
  }

  .measure-item {
    width: 100%;
    height: 21px;
    background: #e7faf8;
    border: 1px dashed #23d8c2;
    border-radius: 11px;
    font-family: "PingFang-SC-Regular";
    color: #293270;
    font-size: 12px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .measure-img {
      width: 17px;
      height: 11px;
      margin: 0 6px 0 13px;
    }
    .measure-icon {
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .measure-item + .measure-item {
    margin-top: 8px;
  }
  .measure-drag-view {
    width: 100%;
    min-height: 21px;
    background: #e7faf8;
    border: 1px dashed #23d8c2;
    border-radius: 11px;
    position: relative;
  }

  .measure-drag-view::after {
    content: "请拖入度量";
    font-size: 12px;
  }
  .update-btn {
    width: 100%;
    height: 43px;
    background: #7c87ff;
    border-radius: 15px;
    margin-top: 30px;
    color: #ffffff;
    font-size: 14px;
    font-family: "PingFang-SC-Medium";
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
