// 页面全局样式

.n-popover__content {
  display: flex;
  flex-direction: column;
}

.popover-menu-btn-view {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-around;
}

.n-popover__content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.n-collapse {
  height: 100%;
  display: flex;
  flex-direction: column;
  .n-collapse-item {
    width: 100%;
    background: #ffffff;
    border-radius: 15px;
    :deep .n-collapse-item__header {
      color: #293270;
      font-family: "PingFang-SC";
      font-weight: bold;
      font-size: 14px;
      height: 50px;
      position: relative;
      padding: 0 0 0 27px;
      .n-collapse-item__header-main {
        .n-collapse-item-arrow {
          position: absolute;
          right: 22px;
          top: 16px;
        }
      }
    }
    :deep .n-collapse-item__content-inner {
      padding: 0 25px 18px 25px;
    }
  }
  :deep .n-collapse-item.n-collapse-item--active {
    .n-collapse-item__header.n-collapse-item__header--active {
      .n-collapse-item-arrow {
        transform: rotate(180deg);
      }
    }
  }
}