// 页面全局样式

[v-placement="bottom"] > .n-popover-shared.n-popover-shared--show-arrow {
  background-color: "#f6f7f9";
  box-shadow: 0px 0px 8px 0px rgba(195, 199, 234, 0.65);
}
.n-popover__content {
  display: flex;
  flex-direction: column;
}

.popover-menu-btn-view {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-around;
}

.n-popover__content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.n-collapse {
  height: 100%;
  display: flex;
  flex-direction: column;
  .n-collapse-item {
    width: 100%;
    background: #ffffff;
    border-radius: 15px;
    :deep .n-collapse-item__header {
      color: #293270;
      font-family: "PingFang-SC-Bold";
      font-size: 14px;
      height: 50px;
      position: relative;
      margin: 0;
      padding: 0 0 0 27px;
      .n-collapse-item__header-main {
        .n-collapse-item-arrow {
          position: absolute;
          right: 22px;
          top: 16px;
        }
      }
    }
    :deep .n-collapse-item__content-inner {
      padding: 0 25px 18px 25px;
    }
  }
  :deep .n-collapse-item.n-collapse-item--active {
    .n-collapse-item__header.n-collapse-item__header--active {
      .n-collapse-item-arrow {
        transform: rotate(180deg);
      }
    }
  }
}

//重写radio

.n-radio .n-radio__dot::before {
  background: transparent;
  border-radius: 0;
  left: 4px;
  top: 4px;
  height: calc(100% - 10px);
  width: calc(100% - 8px);
  border: 2px solid var(--n-dot-color-active);
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg) scale(1) !important;
}
.n-radio .n-radio__label {
  color: #6b797f;
  font-family: "PingFang-SC-MEDIUM";
}

// 重写颜色选择
.n-color-picker {
  width: 56px;
  height: 21px;
  border-radius: 11px;
  position: relative;
  .n-color-picker-trigger {
    border-radius: 11px;
  }
  .n-color-picker-trigger::before {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 6px;
    height: 4px;
    border: 1px solid #6b797f;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    transform: rotate(-50deg) scale(1) !important;
  }
  .n-color-picker-trigger .n-color-picker-trigger__fill {
    top: 4px;
    bottom: 4px;
    left: 5px;
    right: 23px;
    div {
      border-radius: 7px;
    }
    .n-color-picker-trigger__value {
      position: absolute;
      right: -18px;
      top: -3px;
      color: #6b797f !important;
    }
  }
}

// 重写图片上传
.n-upload {
  width: inherit;
  .n-upload-dragger {
    padding: 0;
    width: 40px;
    height: 25px;
    border: none;
  }
}

// 重写Input
.n-input {
  text-align: left;
}

// 重写select
.n-select {
  text-align: left;
}

// 重写button
.n-button.n-button--tiny-type {
  width: 33px;
}
.n-button.n-button--tiny-type + .n-button.n-button--tiny-type {
  margin-left: 10px;
}
